.vlk-select, .vlk-select label {
  cursor: pointer;
}
.vlk {
  &-select {
    border: 1px solid;
    line-height: 2em;
    font-size: 1em;
    padding: 0.5em;
    position: relative;
  }
  &-options {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
    background-color: white;
    border: 1px solid;
    box-sizing: border-box;
    li {
      padding: 0.5em;
      &.selected {
        background-color: lightgrey;
      }
      &.curent {
        background-color: aliceblue;
      }
    }
  }
}
