// colors
$white: #ffffff;
$error: red;
$border-color: #C4C4C4;

$theme-grey: #ECF3F5;
$theme-dark-grey: #828282;
$theme-light-grey: #F5F5F5;

$theme-violet: #5E3FBD;
$theme-green: #5CBB61;
$theme-blue: #2F80ED;
$theme-red: #FF5541;
$theme-yellow: #FFC926;
$theme-orange: #F2994A;

$text-dark-grey: #232323;
$text-light-grey: #828282;